<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div style="color:blue">
        <form action="{{ url_for('predict')}}" method="post">
            <h1>DSL Project (Group 12): CONSUMER COMPLAINTS TIMELY RESPONSE PREDICTION</h1>
			<select name="PRODUCT" id="fuel" required="required">
				<option value="Product">SELECT PRODUCT FROM BELOW</option>
                <option value="Mortgage">Mortgage</option>
                <option value="Debt collection">Debt collection</option>
                <option value="Bank account or service">Bank account or service</option>
				<option value="Consumer Loan">Consumer Loan</option>
				<option value="Student Loan">Student Loan</option>
				<option value="Payday loan">Payday loan</option>
				<option value="Money transfers">Money transfers</option>
				<option value="Prepaid card">Prepaid card</option>
				<option value="Other financial service">Other financial service</option>
				</select>
				
			<br><br><select name="SUB_PRODUCT" id="fuel" required="required">	
				<option value="SUB_PRODUCT">SELECT SUB-PRODUCT FROM BELOW</option>
				<option value="Non-federal student loan">Non-federal student loan</option>
				<option value="Credit card">Credit card</option>
				<option value="Checking account">Checking account</option>
				<option value="Conventional adjustable mortgage (ARM)">Conventional adjustable mortgage (ARM)</option>
				<option value="Other (i.e. phone, health club, etc.)">Other (i.e. phone, health club, etc.)</option>
				<option value="Conventional fixed mortgage">Conventional fixed mortgage</option>
				<option value="FHA mortgage">FHA mortgage</option>
				<option value="Other bank product/service">Other bank product/service</option>
				<option value="Mortgage">Mortgage</option>
				<option value="Vehicle loan">Vehicle loan</option>
				<option value="I do not know">I do not know</option>
				<option value="Medical">Medical</option>
				<option value="Home equity loan or line of credit">Home equity loan or line of credit</option>
				<option value="VA mortgage">VA mortgage</option>
				<option value="Savings account">Savings account</option>
				<option value="Federal student loan">Federal student loan</option>
				<option value="International money transfer">International money transfer</option>
				<option value="Personal line of credit">Personal line of credit</option>
				<option value="Domestic (US) money transfer">Domestic (US) money transfer</option>
				<option value="Auto">Auto</option>
				<option value="Second mortgage">Second mortgage</option>
				<option value="(CD) Certificate of deposit">(CD) Certificate of deposit</option>
				<option value="Vehicle lease', 'Installment loan">Vehicle lease', 'Installment loan</option>
				<option value="Installment loan">Installment loan</option>
				<option value="Reverse mortgage">Reverse mortgage</option>
				<option value="Payday loan">Payday loan</option>
				<option value="Cashing a check without an account">Cashing a check without an account</option>
				<option value="Payroll card">Payroll card</option>
				<option value="General purpose card">General purpose card</option>
				<option value="Check cashing">Check cashing</option>
				<option value="Title loan">Title loan</option>
				<option value="Money order">Money order</option>
				<option value="Government benefit payment card">Government benefit payment card</option>
				<option value="Mobile wallet">Mobile wallet</option>
				<option value="Travelerâ\x80\x99s/Cashierâ\x80\x99s checks">Travelerâ\x80\x99s/Cashierâ\x80\x99s checks</option>
				<option value="Gift or merchant card">Gift or merchant card</option>
				<option value="Other special purpose card">Other special purpose card</option>
				<option value="Debt settlement">Debt settlement</option>
				<option value="Pawn loan">Pawn loan</option>
				<option value="Refund anticipation check">Refund anticipation check</option>
				<option value="Foreign currency exchange">Foreign currency exchange</option>
				<option value="Credit repair">Credit repair</option>
				<option value="Transit card">Transit card</option>
				<option value="ID prepaid card">ID prepaid card</option>
				<option value="Electronic Benefit Transfer / EBT card">Electronic Benefit Transfer / EBT card</option>
				<option value="Other mortgage">Other mortgage</option>
				</select>

			<br><br><select name="SUBMITTED_VIA" id="fuel" required="required">
			<option value="SUBMITTED_VIA">SELECT FROM BELOW THE MODE OF COMPLAINT SUBMISSION</option>	
                <option value="Referral">Referral</option>	
				<option value="Email">Email</option>
				<option value="Web">Web</option>
				<option value="Fax">Fax</option>
				<option value="Phone">Phone</option>
				<option value="Postal mail">Postal mail</option>
				</select>
				
			<br><br><select name="COMPANY_RESPONSE_TO_CONSUMER" id="fuel" required="required">
			<option value="COMPANY_RESPONSE_TO_CONSUMER">SELECT FROM BELOW THE RESPONSE YOU SHOULD GIVE</option>
				<option value="Closed with explanation">Closed with explanation</option>	
				<option value="Closed with non-monetary relief">Closed with non-monetary relief</option>
				<option value="Closed with monetary relief">Closed with monetary relief</option>
				<option value="Closed">Closed</option>
				<option value="Untimely response">Untimely response</option>
				<option value="In progress">In progress</option>
				<option value="Closed without relief">Closed without relief</option>
				<option value="Closed with relief">Closed with relief</option>
				</select>
				
			<br><br><select name="COMPANY" id="fuel" required="required">	
			<option value="COMPANY">SELECT COMPANY FROM BELOW</option>
				<option value="Bank of America">Bank of America</option>
				<option value="JPMorgan Chase & Co.">JPMorgan Chase & Co.</option>
				<option value="Wells Fargo & Company">Wells Fargo & Company</option>
				<option value="Ocwen">Ocwen</option>
				<option value="Nationstar Mortgage">Nationstar Mortgage</option>
				<option value="Citibank">Citibank</option>
				<option value="Ditech Financial LLC">Ditech Financial LLC</option>
				<option value="Navient Solutions, Inc.">Navient Solutions, Inc.</option>
				<option value="U.S. Bancorp">U.S. Bancorp</option>
				<option value="PNC Bank N.A.">PNC Bank N.A.</option>
				<option value="Encore Capital Group">Encore Capital Group</option>
				<option value="HSBC North America Holdings Inc.">HSBC North America Holdings Inc.</option>
				<option value="Capital One">Capital One</option>
				<option value="SunTrust Banks, Inc.">SunTrust Banks, Inc.</option>
				<option value="Select Portfolio Servicing, Inc">Select Portfolio Servicing, Inc</option>
				<option value="TD Bank US Holding Company">TD Bank US Holding Company</option>
				<option value="Portfolio Recovery Associates, Inc.">Portfolio Recovery Associates, Inc.</option>
				<option value="Citizens Financial Group, Inc.">Citizens Financial Group, Inc.</option>
				<option value="Seterus, Inc.">Seterus, Inc.</option>
				<option value="Synchrony Financial">Synchrony Financial</option>
				<option value="ERC">ERC</option>
				<option value="Fifth Third Financial Corporation">Fifth Third Financial Corporation</option>
				<option value="M&T Bank Corporation">M&T Bank Corporation</option>
				<option value="BB&T Financial">BB&T Financial</option>
				<option value="Ally Financial Inc.">Ally Financial Inc.</option>
				<option value="Regions Financial Corporation">Regions Financial Corporation</option>
				<option value="Specialized Loan Servicing LLC">Specialized Loan Servicing LLC</option>
				<option value="Santander Consumer USA Holdings Inc">Santander Consumer USA Holdings Inc</option>
				<option value="Santander Bank US">Santander Bank US</option>
				<option value="AES/PHEAA">AES/PHEAA</option>
				<option value="Flagstar Bank">Flagstar Bank</option>
				<option value="Expert Global Solutions, Inc.">Expert Global Solutions, Inc.</option>
				<option value="PayPal Holdings, Inc.">PayPal Holdings, Inc.</option>
				<option value="Resurgent Capital Services L.P.">Resurgent Capital Services L.P.</option>
				<option value="USAA Savings">USAA Savings</option>
				<option value="Discover">Discover</option>
				<option value="CIT Bank National Association">CIT Bank National Association</option>
				<option value="PHH Mortgage">PHH Mortgage</option>
				<option value="Caliber Home Loans, Inc">Caliber Home Loans, Inc</option>
				<option value="Transworld Systems Inc.">Transworld Systems Inc.</option>
				<option value="Bayview Loan Servicing, LLC">Bayview Loan Servicing, LLC</option>
				<option value="KeyBank NA">KeyBank NA</option>
				<option value="Convergent Resources, Inc.">Convergent Resources, Inc.</option>
				<option value="Navy FCU">Navy FCU</option>
				<option value="Carrington Mortgage Holdings, LLC.">Carrington Mortgage Holdings, LLC.</option>
				<option value="The Western Union Company">The Western Union Company</option>
				<option value="Allied Interstate LLC">Allied Interstate LLC</option>
				<option value="TCF National Bank">TCF National Bank</option>
				<option value="Diversified Consultants, Inc.">Diversified Consultants, Inc.</option>
				<option value="MoneyGram">MoneyGram</option>
				<option value="Amex">Amex</option>
				<option value="Afni, Inc.">Afni, Inc.</option>
				<option value="The Huntington National Bank">The Huntington National Bank</option>
				<option value="Delbert Services">Delbert Services</option>
				<option value="Quicken Loans">Quicken Loans</option>
				<option value="Enova International, Inc.">Enova International, Inc.</option>
				<option value="Dynamic Recovery Solutions, LLC">Dynamic Recovery Solutions, LLC</option>
				<option value="CashCall, Inc.">CashCall, Inc.</option>
				<option value="Empowerment Ventures, LLC">Empowerment Ventures, LLC</option>
				<option value="I.C. System, Inc.">I.C. System, Inc.</option>
				<option value="BBVA Compass">BBVA Compass</option>
				<option value="Sallie Mae">Sallie Mae</option>
				<option value="EOS Holdings, Inc.">EOS Holdings, Inc.</option>
				<option value="PennyMac Loan Services, LLC">PennyMac Loan Services, LLC</option>
				<option value="EverBank">EverBank</option>
				<option value="Residential Credit Solutions">Residential Credit Solutions</option>
				<option value="OneMain Financial Holdings, LLC">OneMain Financial Holdings, LLC</option>
				<option value="Cavalry Investments, LLC">Cavalry Investments, LLC</option>
				<option value="Comerica">Comerica</option>
				<option value="Shellpoint Partners, LLC">Shellpoint Partners, LLC</option>
				<option value="CNG Financial Corporation">CNG Financial Corporation</option>
				<option value="Servis One, Inc.">Servis One, Inc.</option>
				<option value="Stellar Recovery Inc.">Stellar Recovery Inc.</option>
				<option value="BMO Harris">BMO Harris</option>
				<option value="Commonwealth Financial Systems, Inc.">Commonwealth Financial Systems, Inc.</option>
				<option value="National Credit Systems,Inc.">National Credit Systems,Inc.</option>
				<option value="CCS Financial Services, Inc.">CCS Financial Services, Inc.</option>
				<option value="Receivables Performance Management LLC">Receivables Performance Management LLC</option>
				<option value="Selene Finance">Selene Finance</option>
				<option value="The CBE Group, Inc.">The CBE Group, Inc.</option>
				<option value="Pinnacle Credit Services, LLC">Pinnacle Credit Services, LLC</option>
				<option value="Alorica Inc.">Alorica Inc.</option>
				<option value="Rushmore Loan Management Services LLC">Rushmore Loan Management Services LLC</option>
				<option value="Loan Care">Loan Care</option>
				<option value="Hunter Warfield, Inc.">Hunter Warfield, Inc.</option>
				<option value="ACE Cash Express Inc.">ACE Cash Express Inc.</option>
				<option value="Freedom Mortgage">Freedom Mortgage</option>
				<option value="Bank of the West">Bank of the West</option>
				<option value="Toyota Motor Credit Corporation">Toyota Motor Credit Corporation</option>
				<option value="Community Choice Financial, Inc.">Community Choice Financial, Inc.</option>
				<option value="First National Collection Bureau, Inc.">First National Collection Bureau, Inc.</option>
				<option value="GM Financial">GM Financial</option>
				<option value="Southwest Credit Systems, L.P.">Southwest Credit Systems, L.P.</option>
				<option value="Round Point Mortgage">Round Point Mortgage</option>
				<option value="Credit Protection Association, L.P.">Credit Protection Association, L.P.</option>
				<option value="Genesis Lending">Genesis Lending</option>
				<option value="ACS Education Services">ACS Education Services</option>
				<option value="Arvest Bank">Arvest Bank</option>
				<option value="AllianceOne Recievables Management">AllianceOne Recievables Management</option>
				<option value="Speedy Cash Holdings">Speedy Cash Holdings</option>
				<option value="others">others</option>	
				</select>	
				
				
			<br><br><select name="STATE" id="fuel" required="required">
			<option value="STATE">SELECT STATE FROM BELOW</option>
				<option value="CA">CA</option>
				<option value="MD">MD</option>
				<option value="GA">GA</option>
				<option value="IL">IL</option>
				<option value="NC">NC</option>
				<option value="TX">TX</option>
				<option value="KY">KY</option>
				<option value="AR">AR</option>
				<option value="AL">AL</option>
				<option value="VA">VA</option>
				<option value="FL">FL</option>
				<option value="MN">MN</option>
				<option value="AZ">AZ</option>
				<option value="NJ">NJ</option>
				<option value="AK">AK</option>
				<option value="OH">OH</option>
				<option value="OR">OR</option>
				<option value="MO">MO</option>
				<option value="LA">LA</option>
				<option value="SC">SC</option>
				<option value="OK">OK</option>
				<option value="CO">CO</option>
				<option value="DC">DC</option>
				<option value="KS">KS</option>
				<option value="NY">NY</option>
				<option value="WA">WA</option>
				<option value="MA">MA</option>
				<option value="NV">NV</option>
				<option value="NH">NH</option>
				<option value="TN">TN</option>
				<option value="DE">DE</option>
				<option value="IN">IN</option>
				<option value="UT">UT</option>
				<option value="ME">ME</option>
				<option value="MI">MI</option>
				<option value="PA">PA</option>
				<option value="NE">NE</option>
				<option value="NM">NM</option>
				<option value="WY">WY</option>
				<option value="CT">CT</option>
				<option value="HI">HI</option>
				<option value="MS">MS</option>
				<option value="WI">WI</option>
				<option value="IA">IA</option>
				<option value="MT">MT</option>
				<option value="MH">MH</option>
				<option value="PR">PR</option>
				<option value="ID">ID</option>
				<option value="WV">WV</option>
				<option value="RI">RI</option>
				<option value="VT">VT</option>
				<option value="AE">AE</option>
				<option value="SD">SD</option>
				<option value="FM">FM</option>
				<option value="VI">VI</option>
				<option value="ND">ND</option>
				<option value="GU">GU</option>
				<option value="AP">AP</option>
				<option value="PW">PW</option>
				<option value="AA">AA</option>
				<option value="MP">MP</option>
				<option value="AS">AS</option>
				
				</select>
				
				
			<br><br><select name="ISSUE" id="fuel" required="required">
			<option value="ISSUE">SELECT THE ISSUE FROM BELOW</option>
			<option value="Loan servicing, payments, escrow account">Loan servicing, payments, escrow account</option>
			<option value="Repaying your loan">Repaying your loan</option>
			<option value="False statements or representation">False statements or representation</option>
			<option value="Loan modification,collection,foreclosure">Loan modification,collection,foreclosure</option>
			<option value="Deposits and withdrawals">Deposits and withdrawals</option>
			<option value="Cont'd attempts collect debt not owed">Cont'd attempts collect debt not owed</option>
			<option value="Credit decision / Underwriting">Credit decision / Underwriting</option>
			<option value="Application, originator,mortgage broker">Application, originator,mortgage broker,</option>
			<option value="Communication tactics">Communication tactics</option>
			<option value="Improper contact or sharing of info">Improper contact or sharing of info</option>
			<option value="Making/receiving payments, sending money">Making/receiving payments, sending money</option>
			<option value="Managing the loan or lease">Managing the loan or lease</option>
			<option value="Taking/threatening an illegal action">Taking/threatening an illegal action</option>
			<option value="Disclosure verification of debt">Disclosure verification of debt</option>
			<option value="Account opening, closing, or management">Account opening, closing, or management</option>
			<option value="Problems when you are unable to pay">Problems when you are unable to pay</option>
			<option value="Wrong amount charged or received">Wrong amount charged or received</option>
			<option value="Account terms and changes">Account terms and changes</option>
			<option value="Fraud or scam">Fraud or scam</option>
			<option value="Taking out the loan or lease">Taking out the loan or lease</option>
			<option value="Other">Other</option>
			<option value="Problems caused by my funds being low">Problems caused by my funds being low</option>
			<option value="Incorrect/missing disclosures or info">Incorrect/missing disclosures or info</option>
			<option value="Other transaction issues">Other transaction issues</option>
			<option value="Using a debit or ATM card">Using a debit or ATM card</option>
			<option value="Money was not available when promised">Money was not available when promised</option>
			<option value="Shopping for a loan or lease">Shopping for a loan or lease</option>
			<option value="Managing the line of credit">Managing the line of credit</option>
			<option value="Other service issues">Other service issues</option>
			<option value="Getting a loan">Getting a loan</option>
			<option value="Charged fees or interest I didn't expect">Charged fees or interest I didn't expect</option>
			<option value="Charged bank acct wrong day or amt">Charged bank acct wrong day or amt</option>
			<option value="Applied for loan/did not receive money">Applied for loan/did not receive money</option>
			<option value="Can't contact lender">Can't contact lender</option>
			<option value="Payment to acct not credited">Payment to acct not credited</option
			<option value="Can't stop charges to bank account">Can't stop charges to bank account</option>
			<option value="Received a loan I didn't apply for">Received a loan I didn't apply for</option>
			<option value="Shopping for a line of credit">Shopping for a line of credit</option>
			<option value="Dealing with my lender or servicer">Dealing with my lender or servicer</option>
			<option value="Can't repay my loan">Can't repay my loan</option>
			<option value="Customer service/Customer relations">Customer service/Customer relations</option>
			<option value="Fees">Fees</option>
			<option value="Managing, opening, or closing account">Managing, opening, or closing account</option>
			<option value="Lost or stolen money order">Lost or stolen money order</option>
			<option value="Adding money">Adding money</option>
			<option value="Unauthorized transactions/trans. issues">Unauthorized transactions/trans. issues</option>
			<option value="Lost or stolen check">Lost or stolen check</option>
			<option value="Lender repossessed or sold the vehicle">Lender repossessed or sold the vehicle</option>
			<option value="Advertising, marketing or disclosures">Advertising, marketing or disclosures</option>
			<option value="Unexpected/Other fees">Unexpected/Other fees</option>
			<option value="Overdraft, savings or rewards features">Overdraft, savings or rewards features</option>
			<option value="Incorrect exchange rate">Incorrect exchange rate</option>
			<option value="Excessive fees">Excessive fees</option>
			<option value="Disclosures">Disclosures</option>
			<option value="Lender sold the property">Lender sold the property</option>
			<option value="Advertising and marketing">Advertising and marketing</option>
			<option value="Lender damaged or destroyed property">Lender damaged or destroyed property</option>
			<option value="Lender damaged or destroyed vehicle">Lender damaged or destroyed vehicle</option>
			<option value="Settlement process and costs">Settlement process and costs</option>
			</select>
				
				
			<br><h3>EXPECTED RESPONSE TIME (IN DAYS)</h3><input id="second" name="DATE_DIFF" required="required">	
				
            </select>           
            <br><br><button id="first" type="submit ">SUBMIT</button>




        </form>



        <h3>{{ prediction_text }}<h3>
    </div>




     <style>
        body {
            background-color: black;
            text-align: center;
            padding: 0px;
        }
        
        #research {
            font-size: 18px;
            width: 100px;
            height: 23px;
            top: 23px;
        }
        
        
        #fuel {
            width: 800px;
            height: 30px;
            text-align: left;
            border-radius: 0px;
            font-size: 15px;
        }
        
        #fuel:hover {
            background-color: #AFDCEC;
        }
		
        
        #research {
            width: 99px;
            height: 43px;
            text-align: center;
            border-radius: 14px;
            font-size: 18px;
        }
        
        #research:hover {
            background-color: coral;
        }
        
        #resea {
            width: 99px;
            height: 43px;
            text-align: center;
            border-radius: 14px;
            font-size: 18px;
        }
        
        #resea:hover {
            background-color: coral;
        }
        
        #sub {
            width: 120px;
            height: 43px;
            text-align: center;
            border-radius: 14px;
            font-size: 18px;
        }
        
        #sub:hover {
            background-color: darkcyan;
        }
        
        #first {
            border-radius: 0px;
            height: 25px;
			width: 100px
            font-size: 15px;
            text-align: center;
        }
        
        #second {
            border-radius: 0px;
            height: 25px;
            font-size: 15px;
            text-align: left;
			width: 800px
        }
        
        #third {
            border-radius: 14px;
            height: 25px;
            font-size: 20px;
            text-align: center;
        }
        
        #fourth {
            border-radius: 14px;
            height: 25px;
            font-size: 20px;
            text-align: center;
        }
    </style>
</body>

</html>